<div class="container  ">

    <div class="row ">
        <div class="col-md-5 mx-auto top-margin">
            <p class="text-center pb-2" style="font-size: 16px; font-weight: 800px;">Login</p>
            <form class="" autocomplete="off" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput type="text" name="userName" [(ngModel)]="form.userName" required
                            #userName="ngModel" />
                        <mat-error *ngIf="f.submitted && userName.errors"> User Name Is Required</mat-error>
                    </mat-form-field>

                </div>
                <div class="row">

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" name="password" [(ngModel)]="form.password" required
                            #password="ngModel" />
                        <mat-error *ngIf="f.submitted && password.errors"> Password Is Required</mat-error>
                    </mat-form-field>

                </div>
                <div class="row ">
                    <button mat-flat-button color="primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>