
<p [innerHtml]="vel">

</p>

<div class="container  ">
    <p class="text-center pt-3" style="font-size: 16px; font-weight: 800px;">User Details</p>
    <div class="row w-100">
<div class=" mx-3 mt-4" >
    <form class="" [formGroup]="userForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <mat-form-field  appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="User Name"  formControlName="userName">
                <mat-error *ngIf="userForm.controls.userName.errors">
                    User Name Is Required
                </mat-error>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field  appearance="outline">
                <mat-label>Ph No</mat-label>
                <input matInput placeholder="Ph No" type="number" formControlName="phNo">
                <mat-error *ngIf="userForm.controls.phNo.errors">
                    Ph No Is Required
                </mat-error>
                
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field  appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email"  formControlName="email">
                <mat-error *ngIf="userForm.controls.email.errors">
                    Email Is Required
                </mat-error>
              </mat-form-field>
        </div>
        <div class="d-flex justify-content-end">
            <button mat-flat-button color="primary" type="submit" >{{userData ? 'Edit User' : 'Add User'}} +</button>
        </div>
      </form>

      <div class="d-flex justify-content-end  ">
        
    </div>
</div>

    </div>
   

    </div>
